
@{
    Layout = null;
}

<h2>Table</h2>
<br />
<table>
    <tr>
        <th>Id</th>
        <th>Adi</th>
        <th>Aciklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td> 1</td>
        <td> Eğitim</td>
        <td> Eğitim ... </td>
        <td> ETrue </td>
    </tr>
    <tr>
        <td> 2</td>
        <td> Eğitim</td>
        <td> Eğitim ... </td>
        <td> ETrue </td>
    </tr>
</table>
